<a href="https://colab.research.google.com/github/niyati12309/classification-model/blob/main/classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [21]:
dataset_path = '/content/drive/MyDrive/thyroid_disease.csv'
df = pd.read_csv(dataset_path)

In [22]:
print(df.head())
print(df.info())
print(df.describe())

   0    1     2    3    4    5
0  1  107  10.1  2.2  0.9  2.7
1  1  113   9.9  3.1  2.0  5.9
2  1  127  12.9  2.4  1.4  0.6
3  1  109   5.3  1.6  1.4  1.5
4  1  105   7.3  1.5  1.5 -0.1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       215 non-null    int64
 1   1       215 non-null    int64
 2   2       215 non-null    float64
 3   3       215 non-null    float64
 4   4       215 non-null    float64
 5   5       215 non-null    float64
dtypes: float64(4), int64(2)
memory usage: 10.2 KB
None
                0           1           2           3           4           5
count  215.000000  215.000000  215.000000  215.000000  215.000000  215.000000
mean     1.441860  109.595349    9.804651    2.050233    2.880000    4.199070
std      0.726737   13.145447    4.697362    1.419486    6.118031    8.070519
min      1.000000   65.000000    0.500000    0.200000    0.100000   -0.700000
25%      1.000000  103.000000    7.100000    1.350000    1.000000    0.550000
50%      1.000000  110.000000    9.200000    1.700000    1.300000    2.000000
75%      2.000000  117.500000   11.300000    2.200000    1.700000    4.100000
max      3.000000  144.000000   25.300000   10.000000   56.400000   56.300000

In [23]:
print(df.isnull().sum())

0    0
1    0
2    0
3    0
4    0
5    0
dtype: int64

In [24]:
df.fillna(df.mean(), inplace=True)

In [27]:
print(df.columns)  # Display column names

Index(['0', '1', '2', '3', '4', '5'], dtype='object')

In [28]:
X = df.iloc[:, :-1]  # Select all columns except the last (features)
y = df.iloc[:, -1]   # Select the last column as the target

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("Training data shape:", X_train.shape)
print("Testing data shape:", X_test.shape)

Training data shape: (172, 5)
Testing data shape: (43, 5)